# SPDX-FileCopyrightText: 2015 Eclipse Foundation
#
# SPDX-License-Identifier: EPL-2.0

# GEF 4 Dot support
source/images/*.dot.pdf
source/*.svg
source/images/*.svg
target/*
/target/
.asciidoctor
.project
.classpath
.settings/*
source/chapters/images/*
source/chapters/diagrams/*.png

# Ignore generated content (see /releng/build.sh)
source/chapters/commits.adoc