# SPDX-FileCopyrightText: 2015 Eclipse Foundation
#
# SPDX-License-Identifier: EPL-2.0

[submodule "source/efdp"]
	path = source/efdp
	url = https://github.com/EclipseFdn/EFDP
	ignore = dirty
[submodule "source/efsp"]
	path = source/efsp
	url = git://github.com/EclipseFdn/EFSP.git
