# SPDX-FileCopyrightText: 2015 Eclipse Foundation
#
# SPDX-License-Identifier: EPL-2.0

[submodule "source/efdp"]
	path = source/efdp
	url = git@gitlab.eclipse.org:eclipse/vhant/development-process.git
	branch = 1.11
    ignore = dirty
[submodule "source/efsp"]
	path = source/efsp
	url = git@gitlab.eclipse.org:eclipse/vhant/specification-process.git
	branch = version_1_3
    ignore = dirty
[submodule "source/guidelines"]
	path = source/guidelines
	url = git@gitlab.eclipse.org:eclipsefdn/emo-team/policies/project-guidelines.git
	branch = main
    ignore = dirty
